body
{

}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000000!important;
}
a:hover {
  text-decoration: none;
 
}

body::-webkit-scrollbar {
    width: 8px;

}
 
body::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #fff;
    
}
 
body::-webkit-scrollbar-thumb {
  background-color: #17c1e8;
  border-radius: 10px;
  outline: 1px solid #fff;
 height: 10px;

}
body::selection{
  background-color: #413aa4;
  color: #fff;
}
.icon-font{
    font-size: 15px;
}
table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgb(255 255 255 / 0%)!important;
}
.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%)!important;
}
.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.online-order-image {
    width: 100% !important;
    height: 260px;
    object-fit: contain;
}
.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.2rem #17c1e863;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #17c1e882;
    outline: 0;
    box-shadow: 0 0 0 2px #17c1e85c;
}
.btn-link {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #17c1e8;
}
